body{

background:#1f1f1f;

color:white;

font-family:Arial;

margin:15px;

}

#container{

display:flex;

flex-direction:column;

gap:12px;

}

.section{

display:flex;

flex-direction:column;

gap:6px;

}

button{

padding:10px;

font-size:14px;

cursor:pointer;

}

select{

padding:8px;

}

progress{

width:100%;

height:22px;

}

textarea{

height:180px;

resize:none;

background:#101010;

color:#00ff66;

padding:10px;

font-family:Consolas;

}