body{


font-family:

Arial;


padding:15px;


}



button{


width:100%;


margin:5px;


padding:10px;


}



.box{


padding:10px;


border-radius:8px;


}



#quality{


font-size:25px;


}


#status{


font-weight:bold;


}